.receita__botao {
    background: #8d0606;
    border: none;
    border-radius: 0.44em;
    color: #fdfdfd;
    padding: 0.5rem;
    transition: all 1000ms ease-in-out ;
}
.receita__botao:hover{
    background: #620404;
    cursor: pointer;
}